[submodule "submodules/liquidpromt"]
	path = submodules/liquidpromt
	url = https://github.com/nojhan/liquidprompt.git
[submodule "submodules/highlight-parentheses"]
	path = submodules/highlight-parentheses
	url = https://github.com/nschum/highlight-parentheses.el.git
[submodule "submodules/highlight-symbol"]
	path = submodules/highlight-symbol
	url = https://github.com/nschum/highlight-symbol.el.git
[submodule "submodules/window-numbering"]
	path = submodules/window-numbering
	url = https://github.com/Moeryn/window-numbering.el.git
[submodule "submodules/powerline"]
	path = submodules/powerline
	url = https://github.com/milkypostman/powerline.git
[submodule "vim/bundle/ultisnips"]
	path = vim/bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "vim/bundle/a"]
	path = vim/bundle/a
	url = https://github.com/vim-scripts/a.vim.git
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "vim/bundle/nerdcommenter"]
	path = vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/ctrlp"]
	path = vim/bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim/bundle/vim-airline"]
	path = vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "vim/bundle/seoul256"]
	path = vim/bundle/seoul256
	url = https://github.com/junegunn/seoul256.vim.git
[submodule "submodules/supertab"]
	path = submodules/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "submodules/bufexplorer"]
	path = submodules/bufexplorer
	url = https://github.com/jlanzarotta/bufexplorer.git
[submodule "vim/bundle/YouCompleteMe"]
	path = vim/bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "vim/bundle/supertab"]
	path = vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "vim/bundle/vim-gitgutter"]
	path = vim/bundle/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "submodules/git"]
	path = submodules/git
	url = https://github.com/git/git.git
[submodule "submodules/tig"]
	path = submodules/tig
	url = https://github.com/jonas/tig.git
[submodule "tools/FlameGraph"]
	path = tools/FlameGraph
	url = https://github.com/brendangregg/FlameGraph.git
[submodule "vim/bundle/editorconfig-vim"]
	path = vim/bundle/editorconfig-vim
	url = https://github.com/editorconfig/editorconfig-vim.git
[submodule "vim/bundle/neomake"]
	path = vim/bundle/neomake
	url = https://github.com/benekastah/neomake.git
