[submodule "submodules/liquidpromt"]
	path = submodules/liquidpromt
	url = https://github.com/nojhan/liquidprompt.git
	ignore = dirty
[submodule "tools/FlameGraph"]
	path = tools/FlameGraph
	url = https://github.com/brendangregg/FlameGraph.git
	ignore = dirty
